* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body{
    height:100%;width:100%;font-size:16px;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}

.wrapper {
    font-size: 0.8rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(36, 32, 40);
}
.row {
    background: rgb(36, 32, 40);
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
h1 {
    margin-bottom: 3%;
    color: whitesmoke;
    padding-left: 4%;
}
.bayan {
    width:100%;
    cursor: pointer;
}
.bayan__item {
    border-top: 3px solid whitesmoke;
    margin: 0 2%;
}
.bayan__title {
    display: block;
    color: rgb(145, 108, 108);
    padding: 1% 3%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.bayan__title__text {
    color: rgb(145, 108, 108);
    transition: color 0.5s ease;
}
/* Специально оставил статический размер крестику и плюсику! -------------------*/
.krestik {
    background: whitesmoke;
    width: 11px;
    height: 11px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    opacity: 0;
    display: none;
    transition: opacity 0.5s;
    align-self: center;
}
.minus {
    background: whitesmoke;
    width: 12px;
    height: 12px;
    clip-path: polygon(0 35%, 35% 35%, 35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
    opacity: 0;
    transition: opacity 0.5s ease;
    align-self: center;
}
      
.bayan__input {
    appearance: none;
    width: 0;
    height: 0;
}
.bayan__content {
    height: 0;
    width: 0;
    transition: max-height 0.5s ease;
    cursor: pointer;
}
.bayan__image {
    margin-left: 15%;
    width: 0;
    transition: width 0.5s ease;
    padding: 3% 0;
}

.bayan__input:checked ~ .bayan__title .bayan__title__text {
    color: whitesmoke;
}
.bayan__input:checked ~ .bayan__title .minus {
    display: none;
}
.bayan__input:checked ~ .bayan__title .krestik {
display: block;
}
.bayan__input:checked ~ .bayan__content .bayan__image{
    width: 50%;
}

@media screen and (min-width:550px) {
    .wrapper {
        font-size: 1rem;
    }
    .bayan {
        width: 23rem;
    }
}
@media screen and (min-width: 821px) {
    .wrapper {
        font-size: 1.3rem;
    }
    .bayan {
        width: 28rem;
    }
}
@media screen and (min-width: 1281px) {
    .wrapper {
        font-size: 1.45rem;
    }
    .bayan {
        width: 34rem;
    }
}
     
@media (hover: hover) {
    .row:hover .bayan .bayan__item .bayan__title .krestik {
         opacity: 1;
     }
    .row:hover .bayan .bayan__item .bayan__title .minus {
        opacity: 1;
    }
    .row:hover .bayan .bayan__item .bayan__title .bayan__title__text {
        color: whitesmoke;
    }
    .bayan__item:hover .bayan__content {
        max-height: 100%;
         max-width: 100%;
         margin: 0;
     }
    .bayan__item:hover .bayan__title .minus {
        display: none;
    }
    .bayan__item:hover .bayan__title .krestik {
        display: block;
    }
    .bayan__item:hover .bayan__image {
        width: 30%;
    }
}
